<fieldset>
  <legend>Login Credentials</legend>
  <label>Username*: <input name="userId" required /></label><br />
  <label>Password*: <input name="password" type="password" required /></label>
  <label
    >Re-enter Password*:
    <input name="confirmPassword" type="password" required /> </label
  ><br />
</fieldset>
