<%- include("../partials/header")%> <%- include("../partials/nav")%>

<h1>Create New Session</h1>

<form method="post" action="/trainings">
  <%- include("../partials/trainingFieldset", { training: "", requirementNames})
  %>
  <button method="post" action="/trainings">Create</button>
</form>
<%- include("../partials/footer")%>
